@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}


.infobody {
  min-height: 110vh;
  height: 140%;
  background-size: cover;
  background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00MDctMTA5Yi1rcnhsdzdraS5qcGc.jpg);
}

.dd_heading {
  text-align: center;
  font-family: roboto thin;
  background-color: rgba(255, 255, 255, 0.2); /* Brighter background */
  padding: 20px; /* Add padding for better visibility */
  border-radius: 10px; /* Add border radius for a smoother look */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* 3D shadow effect */
  animation: fadeInUp 1s ease; /* Animation effect */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1224px;
  margin: 20px auto;
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.d_card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
@media (min-width: 600px) {
  .d_card {
    height: 350px;
  }
}
.d_card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e),
    -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.d_card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0)),
    color-stop(11.7%, rgba(0, 0, 0, 0.009)),
    color-stop(22.1%, rgba(0, 0, 0, 0.034)),
    color-stop(31.2%, rgba(0, 0, 0, 0.072)),
    color-stop(39.4%, rgba(0, 0, 0, 0.123)),
    color-stop(46.6%, rgba(0, 0, 0, 0.182)),
    color-stop(53.1%, rgba(0, 0, 0, 0.249)),
    color-stop(58.9%, rgba(0, 0, 0, 0.32)),
    color-stop(64.3%, rgba(0, 0, 0, 0.394)),
    color-stop(69.3%, rgba(0, 0, 0, 0.468)),
    color-stop(74.1%, rgba(0, 0, 0, 0.54)),
    color-stop(78.8%, rgba(0, 0, 0, 0.607)),
    color-stop(83.6%, rgba(0, 0, 0, 0.668)),
    color-stop(88.7%, rgba(0, 0, 0, 0.721)),
    color-stop(94.1%, rgba(0, 0, 0, 0.762)),
    to(rgba(0, 0, 0, 0.79))
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e),
    -webkit-transform calc(var(--d) * 2) var(--e);
}
.d_card:nth-child(1):before {
  background-image: url(https://thumbs.dreamstime.com/z/optical-microscope-use-chemical-experiment-phamaceutical-research-medical-analysis-blurred-background-laboratory-156451610.jpg);
}
.d_card:nth-child(2):before {
  background-image: url(https://www.cio.com/wp-content/uploads/2023/05/medical_devices-100658766-orig.jpg?quality=50&strip=all);
}
.d_card:nth-child(3):before {
  background-image: url(https://img.freepik.com/free-vector/realistic-green-leaves-background_52683-89784.jpg?size=626&ext=jpg&ga=GA1.1.1224184972.1711843200&semt=ais);
}
.d_card:nth-child(4):before {
  background-image: url(https://i.pinimg.com/736x/34/7a/a6/347aa679301c00d8f11a2d551f2aef9d.jpg);
}

.DiagnosisInfo {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}
.DiagnosisInfo > * + * {
  margin-top: 1rem;
}

.heading {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.data-content {
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
  overflow-y: scroll;
}

@media (hover: hover) and (min-width: 600px) {
  .d_card:after {
    -webkit-transform: translateY(0);
    transform: translateY(0);

  }

  .d_card:hover{
    height: 100%;
  }

  .DiagnosisInfo {
    -webkit-transform: translateY(calc(100% - 4.5rem));
    transform: translateY(calc(100% - 4.5rem));
  }
  .DiagnosisInfo > *:not(.heading) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e),
      -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e),
      -webkit-transform var(--d) var(--e);
  }

  .d_card:hover,
  .d_card:focus-within {
    -webkit-box-align: center;
    align-items: center;
  }
  .d_card:hover:before,
  .d_card:focus-within:before {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);

  }
  .d_card:hover:after,
  .d_card:focus-within:after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .d_card:hover .DiagnosisInfo,
  .d_card:focus-within .DiagnosisInfo {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .d_card:hover .DiagnosisInfo > *:not(.heading),
  .d_card:focus-within .DiagnosisInfo > *:not(.heading) {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
    transition-delay: calc(var(--d) / 8);
  }

  .d_card:focus-within:before,
  .d_card:focus-within:after,
  .d_card:focus-within .DiagnosisInfo,
  .d_card:focus-within .DiagnosisInfo > *:not(.heading) {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}

/* Variables */
:root {
  --size: 53px;
}

/* Styles */
.asksection,
.askbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.asksection {
  width: 155px;
  justify-content: flex-end;
}

.askbutton {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  background-color: #1a73e8;
  width: var(--size);
  height: var(--size);
  padding: 0 15px;
  border: none;
  border-radius: var(--size);
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  justify-content: flex-start;
  overflow: hidden;
}

.fa {
  font-size: 1.5em;
  margin-right: 12px;
}

.asklabel {
  flex: 0 0 auto;
  cursor: pointer;
}

.askbutton:hover {
  width: 150px;
}

